name: Bandit

on:
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read
    steps:
      - name: Perform Bandit Analysis
        uses: PyCQA/bandit-action@v1
        with:
          args: >
            -r .
            -f txt
            -o bandit-report.json
            -lll
      - name: Upload Bandit report
        uses: actions/upload-artifact@v4
        with:
          name: bandit-report-${{ github.ref_name }}
          path: bandit-report.json
